.headerContainer {
  height: 60px;
  background: var(--bg-header);
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 10px;

  & .navMenuContainer {
    position: absolute;
    top: 60px;
    left: -150px;
    width: 60px;
    height: auto;
    padding: 10px 10px;
    background-color: var(--bg-submenu);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--border-button);
    border-radius: 0 0 5px 0;
    gap: 1rem;
    opacity: 0;
    transition: all .5s ease-in;
    z-index: 10;

    &.submenuActive {
      left: 0;
      opacity: 1;
    }

    & .navMenuButton {
      height: 40px;
      width: 40px;
      text-align: left;
      padding: 2px;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      overflow: hidden;
      gap: 5px;

      cursor: pointer;
      /* border: solid 1px var(--border-button); */
      border: solid 1px #3937a5;
      color: var(--bg-heade);

      /* background: linear-gradient(145deg, #5653f9, #4846d2); */
      background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(170, 169, 217, 1) 2%, rgba(119, 118, 194, 1) 5%, rgba(89, 87, 180, 1) 15%, #4442aa 23%, #3937a5 42%);

      box-shadow: 3px 3px 3px #3937a5,
        -3px -3px 2px #918fff;

      transition: all linear .2s;


      & ion-icon {
        font-size: 1.3rem;
      }

      & span {
        display: none;
      }

      &:hover {
        color: var(--textColorWhiteHover);
        /* border: solid 1px var(--textColorWhiteHover); */
        border: solid 1px #373737;
        /* background: linear-gradient(145deg, #2e2e2e, #373737); */
        /* background: linear-gradient(135deg, rgba(241, 241, 71, 1) 0%, rgba(175, 175, 65, 1) 2%, rgba(126, 126, 61, 1) 5%, rgba(104, 104, 59, 1) 8%, rgba(74, 74, 57, 1) 14%, rgba(55, 55, 55, 1) 36%); */

        background: linear-gradient(135deg, rgba(241, 241, 71, 1) 0%, rgba(175, 175, 65, 1) 9%, rgba(126, 126, 61, 1) 16%, rgba(104, 104, 59, 1) 22%, rgba(74, 74, 57, 1) 29%, rgba(55, 55, 55, 1) 41%);


        box-shadow: 3px 3px 3px #262626,
          -2px -2px 2px #f1f147;

      }
    }

  }

  & .toggle {
    display: block;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    display: grid;
    place-content: center;
    gap: 5px;
    cursor: pointer;

    & .toggle-item {
      width: 30px;
      height: 3px;
      background-color: var(--bg-main);
      border-radius: 30px;
      transition: all .4s ease-in;
    }

    &.active .toggle-item:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    &.active .toggle-item:nth-child(2) {
      transform: translateX(-30px);
      opacity: 0;
    }

    &.active .toggle-item:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}


@media (min-width: 576px) {

  .headerContainer {
    background: var(--bg-header);
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 10px;

    & .navMenuContainer {
      position: absolute;
      top: 60px;
      left: -150px;
      width: 160px;
      height: auto;
      padding: 1rem;
      background-color: var(--bg-submenu);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 2px solid var(--border-button);
      border-radius: 0 0 5px 0;
      gap: 1rem;
      opacity: 0;
      transition: all .5s ease-in;
      z-index: 10;

      &.submenuActive {
        left: 0;
        opacity: 1;
      }

      & .navMenuButton {
        height: 40px;
        width: 100%;
        text-align: left;
        padding: 2px;
        font-size: 1rem;
        gap: 5px;
        /* background: linear-gradient(145deg, #5653f9, #4846d2); */
        background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(170, 169, 217, 1) 2%, rgba(119, 118, 194, 1) 5%, rgba(89, 87, 180, 1) 15%, rgba(68, 66, 170, 1) 23%, rgba(57, 55, 165, 1) 42%);

        box-shadow: 5px 5px 3px #3937a5,
          -3px -3px 3px #918fff;
        transition: all linear .3s;

        & ion-icon {
          font-size: 1.3rem;
        }

        & span {
          display: block;
          width: calc(100% - 30px);
          overflow: hidden;
        }

        &:hover {
          /* background-color: var(--bg-button); */
          /* border: solid 2px var(--hover-border-button); */
          color: var(--textColorWhiteHover);
          /* background: linear-gradient(145deg, #2e2e2e, #373737); */
          /* background: linear-gradient(135deg, rgba(241, 241, 71, 1) 0%, rgba(175, 175, 65, 1) 2%, rgba(126, 126, 61, 1) 5%, rgba(104, 104, 59, 1) 8%, rgba(74, 74, 57, 1) 14%, rgba(55, 55, 55, 1) 36%); */

          background: linear-gradient(135deg, rgba(241, 241, 71, 1) 0%, rgba(175, 175, 65, 1) 9%, rgba(126, 126, 61, 1) 16%, rgba(104, 104, 59, 1) 22%, rgba(74, 74, 57, 1) 29%, rgba(55, 55, 55, 1) 41%);

          box-shadow: 3px 3px 3px #262626,
            -2px -2px 2px rgb(241, 241, 71);
        }
      }

    }

  }
}

@media (min-width: 768px) {
  .headerContainer {
    height: 60px;
    background: var(--bg-header);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & .navMenuContainer {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      height: 60px;
      padding: 0 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 1rem;
      border: none;
      overflow: auto;
      opacity: 1;


      & .navMenuButton {
        height: 40px;
        width: 120px;
        text-align: left;
        padding: 2px;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow: hidden;

        /* background: linear-gradient(145deg, #5653f9, #4846d2); */
        background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(170, 169, 217, 1) 2%, rgba(119, 118, 194, 1) 5%, rgba(89, 87, 180, 1) 15%, rgba(68, 66, 170, 1) 23%, rgba(57, 55, 165, 1) 42%);

        box-shadow: 5px 5px 5px #3937a5,
          -3px -3px 5px #918fff;
        transition: all linear .3s;


        & ion-icon {
          font-size: 1.3rem;
        }

        & span {
          width: calc(100% - 30px);
          overflow: hidden;
        }

        &:hover {
          color: var(--textColorWhiteHover);
          /* background: linear-gradient(145deg, #2e2e2e, #373737); */
          background: linear-gradient(135deg, rgba(241, 241, 71, 1) 0%, rgba(175, 175, 65, 1) 9%, rgba(126, 126, 61, 1) 16%, rgba(104, 104, 59, 1) 22%, rgba(74, 74, 57, 1) 29%, rgba(55, 55, 55, 1) 41%);

          box-shadow: 3px 3px 3px #262626,
            -3px -3px 3px rgb(241, 241, 71);
        }
      }
    }

    & .toggle {
      display: none;
    }
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}