:root {
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Paleta inspirada en las Montañas de la Cordillera de los Andes */

  /* Fuentes */
  --titulo-font: 'Roboto Slab', serif;
  --parrafo-font: 'Lato', sans-serif;

  /* Colores de fondo */
  --bg-light: #f9f6f3;
  /* Color de fondo principal */
  --bg-header: #646cff;

  /* Color de fondo de la cabecera */
  --bg-main: #ffffff;
  /* Color de fondo del contenido principal */
  --bg-footer: #e5ddd5;
  /* Color de fondo del pie de página */
  --bg-button: #a67b5b;
  /* Color de fondo de los botones */

  /* Colores de texto */
  --color-parrafo: #333333;
  /* Color del texto de párrafos */
  --color-button: #ffffff;
  /* Color del texto de los botones */

  /* Colores de hover */
  --hover-parrafo: #646cff;
  /* Color de hover del texto de párrafos */
  --hover-button: #8e644c;
  /* Color de hover del texto de los botones */

  /* Bordes */
  --border-button: #a67b5b;
  /* Color del borde de los botones */
  --hover-border-button: #646cff;
  /* Color de hover del borde de los botones */

}

/* Modo Oscuro */
.dark-mode {
  /* Colores de fondo */
  --bg-light: #1a1a1a;
  --bg-header: #005c7a;
  --bg-main: #333333;
  --bg-footer: #262626;
  --bg-button: #0096c7;

  /* Colores de texto */
  --color-parrafo: #eaeaea;
  --color-button: #ffffff;

  /* Colores de hover */
  --hover-parrafo: #005c7a;
  --hover-button: #0084b3;

  /* Bordes */
  --border-button: #0096c7;
  --hover-border-button: #005c7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}